# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# NuGet packages
*.nuget.props
*.nuget.targets
packages/

# Other files
[Tt]humbs.db
*.log
*.vscode
*.vs/